:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: 1.6em;
}

html {
  font-size: 12px;
  font-weight: 400;
  font-family: monospace;
  scroll-behavior: smooth;
  background-color: light-dark(#c5ccd5, #3a3e44);
  color: light-dark(#222d3a, #a4a8ac);
}
