* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

html {
    font-size: 12px;
    height: 100%;
    font-weight: 400;
    font-family: monospace;
    scroll-behavior: smooth;
    background-color: #222d3a;
    color: #bcc9da;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px auto min-content;
    grid-template-areas:
        "header header header"
        "input config output"
        "footer footer footer";
    gap: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0d1116;
    border-bottom: 1px solid #222d3a;

    #home {
        cursor: default;

        font-family: monospace;
        font-size: 1.5rem;
        padding-top: 2px;
    }

    #motto {
        color: #3b5370;
        font-family: cursive;
        font-style: italic;

        code {
            padding: 0 10px;
            font-family: monospace;
        }
    }

    #doc-ref {
        border: 1px solid #262f39;
        padding: 5px 15px;
        border-radius: 4px;

        display: flex;
        align-items: center;
        gap: 10px;

        .cta {
            padding-top: 2px;
        }

        transition: 200ms ease-out;

        &>svg {
            width: 24px;
            aspect-ratio: 1;

            &>path {
                transition: 200ms ease-out;
                fill: #bcc9da;
            }
        }

        &:hover {
            background-color: #262f39;
        }
    }
}

#input-editor {
    grid-area: input;
}

#config-editor {
    grid-area: config;
}

#output-editor {
    grid-area: output;
}

.editor {
    display: flex;
    flex-direction: column;

    height: 100%;

    .header {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        background-color: #0d111689;
        font-size: 1rem;
        border-bottom: 1px solid #222d3a;
    }

    .editor-pane {
        flex-grow: 1;
        background-color: #0d1116;
    }
}

footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #0d1116;
    border-top: 1px solid #222d3a;

    a:hover {
        color: #81d4fa;
    }
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr min-content;
        grid-template-areas:
            "header"
            "input"
            "config"
            "output"
            "footer";
    }
}